{% extends '::base.html.twig' %}

{% block ga_tracking %}
    {% if ga_tracking is defined and ga_tracking is not null %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ ga_tracking }}','auto',{'siteSpeedSampleRate': 100 });
            {% if app.user  %}
            ga('set', '&uid', '{{ app.user.id }}');
            {% endif %}
            ga('send', 'pageview');
        </script>
    {% endif %}
{% endblock%}

{% block htmlLocale %}lang="{{ app.request.getLocale() }}"{% endblock %}

{% block title %}{{ 'og inspector'|trans|capitalize }}{% endblock %}

{% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('/bundles/maesboxoginspector/images/favicon.png') }}" />{% endblock%}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        'bundles/maesboxoginspector/css/font-awesome.css' 
        'bundles/maesboxoginspector/css/real-world.css' 
        'bundles/maesboxoginspector/css/ionicons.css' 
        'bundles/maesboxoginspector/css/ogicons.css'  
        'bundles/maesboxoginspector/css/selectize.bootstrap3.css'  
        filter='cssrewrite' 
        output="css/utils.css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    {#{% stylesheets
        '@MaesboxOGInspectorBundle/Resources/public/css/mid-dark-theme.css'
        filter='cssrewrite' 
        output="css/mid-dark-bootstrap.css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}#}
    
    {% stylesheets
        '@MaesboxOGInspectorBundle/Resources/public/css/dark-theme.css'
        filter='cssrewrite' 
        output="css/dark-bootstrap.css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    
   {# <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">#}
{% endblock %}

{% block body %}
    {% block topnavbar %}
        {% include 
            'MaesboxOGInspectorBundle:Menu:_navbar.html.twig' with {
                'navbar': { 
                    'position':'top', 
                    'version': '2.0',
                    'fixed': true, 
                    'logo': '/bundles/maesboxoginspector/images/ogi-logo.png',
                    'title': 'og inspector', 
                    'url': { 'route': 'maesbox_oginspector_homepage' },
                    'menu': 'oginspector_main_menu',
                    'inverse': false,
                    'options': { 
                        'template': 'MaesboxOGInspectorBundle:Menu:_menu.html.twig', 
                        'currentClass': 'active', 
                        'ancestorClass': 'active' 
                    }
                } 
            } %}
    {% endblock %}
    
    {% block leftsidebar %}{% endblock %}
    
    {% block maincontainer %}{% endblock %}   
    
    {% block bottomnavbar %}{% endblock %}

    {% block modal %}
        {% include 'MaesboxOGInspectorBundle:Layout:_modal.html.twig' %}
    {% endblock %}  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    
    {{ nelmio_js_error_logger() }}
    
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    
    {% javascripts
        '@MaesboxOGInspectorBundle/Resources/public/js/utils/*'
        output="js/utils.js" %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
