{% extends "MaesboxOGInspectorBundle:Layout:base-layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        'bundles/maesboxoginspector/css/layout.css' 
        'bundles/maesboxoginspector/css/left-sidebar.css'   
        filter='cssrewrite' 
        output="css/left-layout.css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block maincontainer %}
    <div class="container-fluid">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}   

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts
        '@MaesboxOGInspectorBundle/Resources/public/js/sidebar.js'
        output="js/sidebar.js" %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}