{% extends "MaesboxOGInspectorBundle:Layout:base-layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/maesboxoginspector/css/layout.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block maincontainer %}
    <div class="container">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}   