
{% macro attributes(attributes) %}
{% for name, value in attributes %}
    {%- if value is not none and value is not same as(false) -%}
        {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}

{% block chart %}
    {% import _self as ogi_chart %}
    <div {% if attributes is defined %}{{ ogi_chart.attributes(attributes) }}{% endif %}></div>
{% endblock %}