
{% macro attributes(attributes) %}
{% for name, value in attributes %}
    {%- if value is not none and value is not same as(false) -%}
        {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}

{% block ressources %}
    {% import _self as table %}
    <table class="table table-ressources {% if attributes is defined %}{{ table.attributes(attributes) }}{% endif %}">
        <thead>
        <th colspan="3:3">{{ 'resources'|trans|capitalize }}</th>
        </thead>
        <tbody>
            {% for key ,ressource in ressources %}
            <tr>
                <th>
                    <div class="ogicon-ressources-small ogicon-ressources-small-{{- key -}}"></div>
                </th>
                <td>
                    <div class="progress ressources-progress">
                        {% if (ressource.value / ressource.max)*100 < 5 %}
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="5" aria-valuemin="10" aria-valuemax="100" style="width: 5%;">
                        {% elseif (ressource.value / ressource.max)*100 > 5 and (ressource.value / ressource.max)*100 < 100 %}
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ (ressource.value / ressource.max)*100 }}" aria-valuemin="5" aria-valuemax="100" style="width: {{ (ressource.value / ressource.max)*100 }}%;">
                        {% elseif (ressource.value / ressource.max)*100 >= 100 %}
                            <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" aria-valuenow="100" aria-valuemin="5" aria-valuemax="100" style="width: 100%;">
                        {% endif %}
                        </div>
                    </div>
                    <div class="ressources-progress-value">
                        <center>
                            {{ ressource.value | number_format(0, '.',' ') }} / {{ ressource.max | number_format(0, '.',' ') }}
                        </center>
                    </div>
                </td>
                <td>{% spaceless %}{{ ressource.production | number_format(0, '.',' ') }}{% endspaceless %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}