
{% macro attributes(attributes) %}
{% for name, value in attributes %}
    {%- if value is not none and value is not same as(false) -%}
        {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}

{% block score %}
{% import _self as table %}
<table class="table {% if attributes is defined %}{{ table.attributes(attributes) }}{% endif %}">
    
    <thead>
    <th></th>
        {% for key, value in scores|first %}
        <th>{{ key }}</th>
        {% endfor %}
    </thead>
    <tbody>
        
        {% for ranking, score in scores%}
            <tr>
            <th>{{ ranking }}</th>
            {% for key, value in score %}
                <td>{{ value }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        {#<tr>
            <td><b>joueur:</b></td>
            <td>{% if player.player is not null %}<a href="{{ path('maesbox_oginspector_player_show', {'id': player.player.id}) }}">{{ player.player.name }}</a>{% endif %}</td>
        </tr>
        <tr>
            <th>Score:</th>
            <td>{{ (player.getBuildingsPoints+player.getDefensePoints+player.getFleetPoints+player.getResearchPoints+player.getLunePoints ) | number_format(0, '.',' ') }}</td>
        </tr>
        <tr>
            <th>valeur des batiments:</th>
            <td>{{ player.getBuildingsPoints | number_format(0, '.',' ') }}</td>
        </tr>
        <tr>
            <th>valeur des defenses:</th>
            <td>{{ player.getDefensePoints | number_format(0, '.',' ') }}</td>
        </tr>
        <tr>
            <th>valeur de la flotte:</th>
            <td>{{ player.getFleetPoints |  number_format(0, '.',' ')}}</td>
        </tr>
        <tr>
            <th>valeur des recherches:</th>
            <td>{{ player.getResearchPoints | number_format(0, '.',' ')}}</td>
        </tr>
        <tr>
            <th>valeur des lunes:</th>
            <td>{{ player.getLunePoints | number_format(0, '.',' ')}}</td>
        </tr>#}
    </tbody>
</table>
{% endblock %}