{% extends "MaesboxOGInspectorBundle:Layout:left-sidebar-layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'tools'|trans|capitalize }}{% endblock %}

{% block topnavbar %}
    {% include 
    'MaesboxOGInspectorBundle:Menu:_navbar.html.twig' with {
        'navbar': { 
            'position':'top', 
            'fixed': true, 
            'logo': '/bundles/maesboxoginspector/images/ogi-logo.png',
            'title': 'og inspector', 
            'url': { 'route': 'maesbox_oginspector_homepage' },
            'menu': 'oginspector_main_menu',
            'inverse': false,
            'options': { 
                'template': 'MaesboxOGInspectorBundle:Menu:_menu.html.twig', 
                'currentClass': 'active', 
                'ancestorClass': 'active' 
            }
        } 
    } %}
{% endblock %}

{% block leftsidebar %}
    {% include 
        'MaesboxOGInspectorBundle:Menu:_sidebar.html.twig' with {
            'sidebar': { 
                'position':'left', 
                'fixed': true, 
                'inverse':false,
                'title': 'tools', 
                'menu': 'oginspector_tools_sidebar', 
                'url': { 'route': 'maesbox_oginspector_tools' },
                'icon': 'wrench',
                'iconclass': 'fa',
                'options': { 
                    'template': 'MaesboxOGInspectorBundle:Menu:_menu.html.twig', 
                    'currentClass': 'active', 
                    'ancestorClass': 'active' 
                } 
            } 
        } %}
{% endblock %}


{% block pagetitle %}
    <h1>{{ 'tools'|trans|capitalize }}</h1>
{% endblock %}

{% block content %}
<div class="section">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="thumbnail">
            <a href="{{ path('maesbox_oginspector_tools_ogiscan') }}">
                <img class="img-thumbnail img-circle pull-left" alt="" width="80" src="{{ asset('bundles/maesboxoginspector/images/ogi-logo-lg.png') }}">
            </a>
            <div class="caption pull-left">
                <a href="{{ path('maesbox_oginspector_tools_ogiscan') }}">
                    <h3>{{ 'ogiscan'|trans|capitalize }}</h3>
                </a>
                <p>text</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="thumbnail">
            <a href="{{ path('maesbox_oginspector_tools_xtense') }}">
                <img class="img-thumbnail img-circle pull-left" alt="" width="80" src="{{ asset('bundles/maesboxoginspector/images/xtense-logo.png') }}">
            </a>
            <div class="caption pull-left">
                <div class="row">
                    <div class="col-sm-10">
                        <a href="{{ path('maesbox_oginspector_tools_xtense') }}">
                            <h3>{{ 'xtense'|trans|capitalize }}</h3>
                        </a>  
                    </div>
                    <div class="col-sm-2">
                        <h3><span class="fa fa-download"></span></h3>
                    </div>
                </div>
                
                <p>text</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
                        
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{{ path('maesbox_oginspector_tools_xtense') }}">
                        <img class="img-thumbnail img-circle pull-left" alt="" width="80" src="{{ asset('bundles/maesboxoginspector/images/xtense-logo.png') }}">
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{{ path('maesbox_oginspector_tools_xtense') }}">
                        <h3>{{ 'xtense'|trans|capitalize }}</h3>
                    </a> 
                </div>
                <div class="col-sm-2">
                    <h3><span class="fa fa-download"></span></h3>
                </div>
                <div class="col-sm-offset-4 col-sm-8"><p>text</p></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}