
body {
    padding-top: 70px;
}

.navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
}


.navbar > .navbar-header > .navbar-toggle {
    margin-left: -40px;
}

.navbar > .navbar-header > .navbar-brand {
    width: 248px;
}

img.navbar-logo {
    width: 50px;
    height: 50px;
    float:left;
    margin-top: -15px;
    margin-bottom: -15px;
}

.table-ressources {
    table-layout: auto;
}

.table-ressources > tbody > tr > th, 
.table-ressources > tfoot > tr > th, 
.table-ressources > tbody > tr > td, 
.table-ressources > tfoot > tr > td {
    border-top: 1px solid #1c1e22;
    line-height: 1.42857;
    padding: 0;
}

.table-ressources > tbody > tr > th {
    width: 48px;
}

.table-ressources > tbody > tr > td {
    padding-left: 10px;
    padding-top: 6px;
    width: 100%;
    /*width: calc(100% - 48px);*/
}

.table-ressources > tbody > tr > td:last-child {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    padding-right: 10px;
}

.table-ressources > tbody > tr > th,
.table-ressources > tbody > tr > td {
    height: 32px;
}

.table-ressources > tbody > tr > td > .ressources-progress {
    margin-bottom: -20px;
}