
.sidebar > .navbar-fixed-left > .navbar-header {
    width: 100% ;
}

.sidebar {
    border-radius: 0;
    padding-top: 5px;
    position: fixed;
    width: 250px;
    top: 50px;
    left: 0px;
    height: calc(100% - 50px);
    z-index: 999;
}

.sidebar > .sidebar-menu {
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar-menu {
    float: left;
    width: 100%;
}

.nav-sub{
    padding-left:15px;
    padding-top: 2px;
}

.sidebar-toggle{
    position: fixed;
    top: 50px;
    z-index: 999;
    width: 10px;
    height: 50px;
}