
.ogicon-ships
{
    background-image: url("../images/ogame/game-icons/ships.png");
    background-color: transparent;
    background-repeat: no-repeat;
    color: #ff9600;
    height: 80px;
    width: 80px;
}

.ogicon-research
{
    background-image: url("../images/ogame/game-icons/research.png");
    background-color: transparent;
    background-repeat: no-repeat;
    margin-left:auto; 
    margin-right: auto;
    margin-bottom: 10px;
    color: #ff9600;
    height: 76px;
    width: 76px;
    border: black solid 2px;
    border-radius: 8px;
}

.ogicon-research div
{
    height: 100%;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding-top: 8px;
}

.ogicon-research-spy
{
    background-position: 0px 0px;
}

.ogicon-research-spy-unbuilt
{
    background-position: 0px -80px;
    color: lightgray;
}

.ogicon-research-spy-disabled
{
    background-position: 0px -160px;
    color: lightgray;
}

.ogicon-research-computer
{
    background-position: -80px 0px;
}

.ogicon-research-computer-unbuilt
{
    background-position: -80px -80px;
    color: lightgray;
}

.ogicon-research-computer-disabled
{
    background-position: -80px -160px;
    color: lightgray;
}

.ogicon-research-weapon
{
    background-position: -160px 0px;
}

.ogicon-research-weapon-unbuilt
{
    background-position: -160px -80px;
    color: lightgray;
}

.ogicon-research-weapon-disabled
{
    background-position: -160px -160px;
    color: lightgray;
}

.ogicon-research-shield
{
    background-position: -240px 0px;
}

.ogicon-research-shield-unbuilt
{
    background-position: -240px -80px;
    color: lightgray;
}

.ogicon-research-shield-disabled
{
    background-position: -240px -160px;
    color: lightgray;
}

.ogicon-research-structure
{
    background-position: -320px 0px;
}

.ogicon-research-structure-unbuilt
{
    background-position: -320px -80px;
    color: lightgray;
}

.ogicon-research-structure-disabled
{
    background-position: -320px -160px;
    color: lightgray;
}

.ogicon-research-energy
{
    background-position: -400px 0px;
}

.ogicon-research-energy-unbuilt
{
    background-position: -400px -80px;
    color: lightgray;
}

.ogicon-research-energy-disabled
{
    background-position: -400px -160px;
    color: lightgray;
}

.ogicon-research-hyperspace
{
    background-position: -480px 0px;
}

.ogicon-research-hyperspace-unbuilt
{
    background-position: -480px -80px;
    color: lightgray;
}

.ogicon-research-hyperspace-disabled
{
    background-position: -480px -160px;
    color: lightgray;
}

.ogicon-research-combustion-propulsion
{
    background-position: -560px 0px;
}

.ogicon-research-combustion-propulsion-unbuilt
{
    background-position: -560px -80px;
    color: lightgray;
}

.ogicon-research-combustion-propulsion-disabled
{
    background-position: -560px -160px;
    color: lightgray;
}

.ogicon-research-impulsion-propulsion
{
    background-position: -640px 0px;
}

.ogicon-research-impulsion-propulsion-unbuilt
{
    background-position: -640px -80px;
    color: lightgray;
}

.ogicon-research-impulsion-propulsion-disabled
{
    background-position: -640px -160px;
    color: lightgray;
}

.ogicon-research-hyperspace-propulsion
{
    background-position: -720px 0px;
}

.ogicon-research-hyperspace-propulsion-unbuilt
{
    background-position: -720px -80px;
    color: lightgray;
}

.ogicon-research-hyperspace-propulsion-disabled
{
    background-position: -720px -160px;
    color: lightgray;
}

.ogicon-research-laser
{
    background-position: -800px 0px;
}

.ogicon-research-laser-unbuilt
{
    background-position: -800px -80px;
    color: lightgray;
}

.ogicon-research-laser-disabled
{
    background-position: -800px -160px;
    color: lightgray;
}

.ogicon-research-ion
{
    background-position: -880px 0px;
}

.ogicon-research-ion-unbuilt
{
    background-position: -880px -80px;
    color: lightgray;
}

.ogicon-research-ion-disabled
{
    background-position: -880px -160px;
    color: lightgray;
}

.ogicon-research-plasma
{
    background-position: -960px 0px;
}

.ogicon-research-plasma-unbuilt
{
    background-position: -960px -80px;
    color: lightgray;
}

.ogicon-research-plasma-disabled
{
    background-position: -960px -160px;
    color: lightgray;
}

.ogicon-research-network
{
    background-position: -1040px 0px;
}

.ogicon-research-network-unbuilt
{
    background-position: -1040px -80px;
    color: lightgray;
}

.ogicon-research-network-disabled
{
    background-position: -1040px -160px;
    color: lightgray;
}

.ogicon-research-graviton
{
    background-position: -1120px 0px;
}

.ogicon-research-graviton-unbuilt
{
    background-position: -1120px -80px;
    color: lightgray;
}

.ogicon-research-graviton-disabled
{
    background-position: -1120px -160px;
    color: lightgray;
}

.ogicon-research-astrophysic
{
    background-position: -1200px 0px;
}

.ogicon-research-astrophysic-unbuilt
{
    background-position: -1200px -80px;
    color: lightgray;
}

.ogicon-research-astrophysic-disabled
{
    background-position: -1200px -160px;
    color: lightgray;
}

.ogicon-defenses
{
    background-image: url("../images/ogame/game-icons/defenses.png");
    background-color: transparent;
    background-repeat: no-repeat;
    margin-left:auto; 
    margin-right: auto;
    margin-bottom: 10px;
    color: #ff9600;
    height: 76px;
    width: 76px;
    border: black solid 2px;
    border-radius: 8px;
}

.ogicon-defenses div
{
    height: 100%;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding-top: 8px;
}

.ogicon-defenses-missile-launcher
{
    background-position: 0px 0px;
}

.ogicon-defenses-missile-launcher-unbuilt
{
    background-position: 0px -80px;
    color: lightgray;
}

.ogicon-defenses-missile-launcher-disabled
{
    background-position: 0px -160px;
    color: lightgray;
}

.ogicon-defenses-light-laser
{
    background-position: -80px 0px;
}

.ogicon-defenses-light-laser-unbuilt
{
    background-position: -80px -80px;
    color: lightgray;
}

.ogicon-defenses-light-laser-disabled
{
    background-position: -80px -160px;
    color: lightgray;
}

.ogicon-defenses-heavy-laser
{
    background-position: -160px 0px;
}

.ogicon-defenses-heavy-laser-unbuilt
{
    background-position: -160px -80px;
    color: lightgray;
}

.ogicon-defenses-heavy-laser-disabled
{
    background-position: -160px -160px;
    color: lightgray;
}

.ogicon-defenses-ion-artillery
{
    background-position: -320px 0px;
}

.ogicon-defenses-ion-artillery-unbuilt
{
    background-position: -320px -80px;
    color: lightgray;
}

.ogicon-defenses-ion-artillery-disabled
{
    background-position: -320px -160px;
    color: lightgray;
}

.ogicon-defenses-gauss-canon
{
    background-position: -240px 0px;
}

.ogicon-defenses-gauss-canon-unbuilt
{
    background-position: -240px -80px;
    color: lightgray;
}

.ogicon-defenses-gauss-canon-disabled
{
    background-position: -240px -160px;
    color: lightgray;
}

.ogicon-defenses-plasma-launcher
{
    background-position: -400px 0px;
}

.ogicon-defenses-plasma-launcher-unbuilt
{
    background-position: -400px -80px;
    color: lightgray;
}

.ogicon-defenses-plasma-launcher-disabled
{
    background-position: -400px -160px;
    color: lightgray;
}

.ogicon-defenses-light-shield
{
    background-position: -480px 0px;
}

.ogicon-defenses-light-shield-unbuilt
{
    background-position: -480px -80px;
    color: lightgray;
}

.ogicon-defenses-light-shield-disabled
{
    background-position: -480px -160px;
    color: lightgray;
}

.ogicon-defenses-heavy-shield
{
    background-position: -560px 0px;
}

.ogicon-defenses-heavy-shield-unbuilt
{
    background-position: -560px -80px;
    color: lightgray;
}

.ogicon-defenses-heavy-shield-disabled
{
    background-position: -560px -160px;
    color: lightgray;
}

.ogicon-buildings
{
    background-image: url("../images/ogame/game-icons/buildings.png");
    background-color: transparent;
    background-repeat: no-repeat;
    margin-left:auto; 
    margin-right: auto;
    margin-bottom: 10px;
    color: #ff9600;
    height: 76px;
    width: 76px;
    border: black solid 2px;
    border-radius: 8px;
}

.ogicon-buildings div
{
    height: 100%;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding-top: 8px;
}

.ogicon-buildings-robot-factory
{
    background-position: 0px 0px;
}

.ogicon-buildings-robot-factory-unbuilt
{
    background-position: 0px -80px;
    color: lightgray;
}

.ogicon-buildings-robot-factory-disabled
{
    background-position: 0px -160px;
    color: lightgray;
}

.ogicon-buildings-space-factory
{
    background-position: -240px 0px;
}

.ogicon-buildings-space-factory-unbuilt
{
    background-position: -240px -80px;
    color: lightgray;
}

.ogicon-buildings-space-factory-disabled
{
    background-position: -240px -160px;
    color: lightgray;
}

.ogicon-buildings-nanite-factory
{
    background-position: -320px 0px;
}

.ogicon-buildings-nanite-factory-unbuilt
{
    background-position: -320px -80px;
    color: lightgray;
}

.ogicon-buildings-nanite-factory-disabled
{
    background-position: -320px -160px;
    color: lightgray;
}

.ogicon-buildings-research-lab
{
    background-position: -80px 0px;
}

.ogicon-buildings-research-lab-unbuilt
{
    background-position: -80px -80px;
    color: lightgray;
}

.ogicon-buildings-research-lab-disabled
{
    background-position: -80px -160px;
    color: lightgray;
}

.ogicon-buildings-terraformer
{
    background-position: -400px 0px;
}

.ogicon-buildings-terraformer-unbuilt
{
    background-position: -400px -80px;
    color: lightgray;
}

.ogicon-buildings-terraformer-disabled
{
    background-position: -400px -160px;
    color: lightgray;
}

.ogicon-buildings-silos
{
    background-position: -480px 0px;
}

.ogicon-buildings-silos-unbuilt
{
    background-position: -480px -80px;
    color: lightgray;
}

.ogicon-buildings-silos-disabled
{
    background-position: -480px -160px;
    color: lightgray;
}

.ogicon-buildings-supply-storage
{
    background-position: -160px 0px;
}

.ogicon-buildings-supply-storage-unbuilt
{
    background-position: -160px -80px;
    color: lightgray;
}

.ogicon-buildings-supply-storage-disabled
{
    background-position: -160px -160px;
    color: lightgray;
}

.ogicon-buildings-stargate
{
    background-position: -720px 0px;
}

.ogicon-buildings-stargate-unbuilt
{
    background-position: -720px -80px;
    color: lightgray;
}

.ogicon-buildings-stargate-disabled
{
    background-position: -720px -160px;
    color: lightgray;
}

.ogicon-buildings-lunar-base
{
    background-position: -560px 0px;
}

.ogicon-buildings-lunar-base-unbuilt
{
    background-position: -560px -80px;
    color: lightgray;
}

.ogicon-buildings-lunar-base-disabled
{
    background-position: -560px -160px;
    color: lightgray;
}

.ogicon-buildings-captors-phalange
{
    background-position: -640px 0px;
}

.ogicon-buildings-captors-phalange-unbuilt
{
    background-position: -640px -80px;
    color: lightgray;
}

.ogicon-buildings-captors-phalange-disabled
{
    background-position: -640px -160px;
    color: lightgray;
}

.ogicon-storage
{
    background-image: url("../images/ogame/game-icons/storage.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    margin-left:auto; 
    margin-right: auto;
    margin-bottom: 10px;
    color: #ff9600;
    height: 76px;
    width: 76px;
    border: black solid 2px;
    border-radius: 8px;
}

.ogicon-storage div
{
    height: 100%;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding-top: 8px;
}

.ogicon-storage-metal
{
    background-position: 0px 0px;
}

.ogicon-storage-metal-unbuilt
{
    background-position: 0px -80px;
    color: lightgray;
}

.ogicon-storage-metal-disabled
{
    background-position: 0px -160px;
    color: lightgray;
}

.ogicon-storage-cristal
{
    background-position: -80px 0px;
}

.ogicon-storage-cristal-unbuilt
{
    background-position: -80px -80px;
    color: lightgray;
}

.ogicon-storage-cristal-disabled
{
    background-position: -80px -160px;
    color: lightgray;
}

.ogicon-storage-deuterium
{
    background-position: -160px 0px;
}

.ogicon-storage-deuterium-unbuilt
{
    background-position: -160px -80px;
    color: lightgray;
}

.ogicon-storage-deuterium-disabled
{
    background-position: -160px -160px;
    color: lightgray;
}

.ogicon-storage-metal-hidden
{
    background-position: -240px 0px;
}

.ogicon-storage-metal-hidden-unbuilt
{
    background-position: -240px -80px;
    color: lightgray;
}

.ogicon-storage-metal-hidden-disabled
{
    background-position: -240px -160px;
    color: lightgray;
}

.ogicon-storage-cristal-hidden
{
    background-position: -320px 0px;
}

.ogicon-storage-cristal-hidden-unbuilt
{
    background-position: -320px -80px;
    color: lightgray;
}

.ogicon-storage-cristal-hidden-disabled
{
    background-position: -320px -160px;
    color: lightgray;
}

.ogicon-storage-deuterium-hidden
{
    background-position: -400px 0px;
}

.ogicon-storage-deuterium-hidden-unbuilt
{
    background-position: -400px -80px;
    color: lightgray;
}

.ogicon-storage-deuterium-hidden-disabled
{
    background-position: -400px -160px;
    color: lightgray;
}

.ogicon-production
{
    background-image: url("../images/ogame/game-icons/production.png");
    background-color: transparent;
    background-repeat: no-repeat;
    margin-left:auto; 
    margin-right: auto;
    margin-bottom: 10px;
    color: #ff9600;
    height: 100px;
    width: 100px;
}

.ogicon-production div
{
    height: 100%;
    width: 100%;
    font-size: 48px;
    text-align: center;
    padding-top: 18px;
}

.ogicon-production-metal-mine
{
    background-position: -100px 0px;
}

.ogicon-production-metal-mine-unbuilt
{
    background-position: -100px -100px;
    color: lightgray;
}

.ogicon-production-metal-mine-disabled
{
    background-position: -100px -200px;
    color: lightgray;
}


.ogicon-production-cristal-mine
{
    background-position: -400px 0px;
}

.ogicon-production-cristal-mine-unbuilt
{
    background-position: -400px -100px;
    color: lightgray;
}

.ogicon-production-cristal-mine-disabled
{
    background-position: -400px -200px;
    color: lightgray;
}

.ogicon-production-deuterium-mine
{
    background-position: -300px 0px;
}

.ogicon-production-deuterium-mine-unbuilt
{
    background-position: -300px -100px;
    color: lightgray;
}

.ogicon-production-deuterium-mine-disabled
{
    background-position: -300px -200px;
    color: lightgray;
}

.ogicon-production-solar-central
{
    background-position: -200px 0px;
}

.ogicon-production-solar-central-unbuilt
{
    background-position: -200px -100px;
    color: lightgray;
}

.ogicon-production-solar-central-disabled
{
    background-position: -200px -200px;
    color: lightgray;
}

.ogicon-production-fusion-central
{
    background-position: 0px 0px;
}

.ogicon-production-fusion-central-unbuilt
{
    background-position: 0px -100px;
    color: lightgray;
}

.ogicon-production-fusion-central-disabled
{
    background-position: 0px -200px;
    color: lightgray;
}

.ogicon-production-satellites
{
    background-position: -500px 0px;
}

.ogicon-production-satellites-unbuilt
{
    background-position: -500px -100px;
    color: lightgray;
}

.ogicon-production-satellites-disabled
{
    background-position: -500px -200px;
    color: lightgray;
}

.ogicon-ressources
{
    background-image: url("../images/ogame/game-icons/ressources.png");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
}

.ogicon-ressources-metal
{
    background-position: 0px 0px;
}

.ogicon-ressources-metal:active,
.ogicon-ressources-metal:hover
{
    background-position: 0px -80px;
}

.ogicon-ressources-cristal
{
    background-position: -80px 0px;
}

.ogicon-ressources-cristal:active,
.ogicon-ressources-cristal:hover
{
    background-position: -80px -80px;
}

.ogicon-ressources-deuterium
{
    background-position: -160px 0px;
}

.ogicon-ressources-deuterium:active,
.ogicon-ressources-deuterium:hover
{
    background-position: -160px -80px;
}

.ogicon-ressources-energy
{
    background-position: -240px 0px;
}

.ogicon-ressources-energy:active,
.ogicon-ressources-energy:hover
{
    background-position: -240px -80px;
}

.ogicon-ressources-antimatter
{
    background-position: -320px 0px;
}

.ogicon-ressources-antimatter:active,
.ogicon-ressources-antimatter:hover
{
    background-position: -320px -80px;
}

.ogicon-ressources-small
{
    background-image: url("../images/ogame/game-icons/ressources.png");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 32px;
    width: 48px;
}

.ogicon-ressources-small-metal
{
    background-position: 0px -160px;
}

.ogicon-ressources-small-cristal
{
    background-position: -48px -160px;
}

.ogicon-ressources-small-deuterium
{
    background-position: -96px -160px;
}

.ogicon-ressources-small-energy
{
    background-position: -144px -160px;
}

.ogicon-ressources-small-antimatter
{
    background-position: -192px -160px;
}

.ogicon-officer
{
    background-image: url("../images/ogame/game-icons/officers.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

.ogicon-menu
{
    background-image: url("../images/ogame/interface/menu_icons.png");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
}

.ogicon-menu-alliance {
    background-position: 0px 0px;
}

.ogicon-menu-alliance:hover {
    background-position: 0px -27px;
}

.ogicon-menu-alliance:active {
    background-position: 0px -54px;
}

.ogicon-menu-buildings {
    background-position: -27px 0px;
}

.ogicon-menu-buildings:hover {
    background-position: -27px -27px;
}

.ogicon-menu-buildings:active {
    background-position: -27px -54px;
}

.ogicon-menu-buildings {
    background-position: -81px 0px;
}

.ogicon-menu-buildings:hover {
    background-position: -81px -27px;
}

.ogicon-menu-buildings:active {
    background-position: -81px -54px;
}

.ogicon-menu-fleet {
    background-position: -108px 0px;
}

.ogicon-menu-fleet:hover {
    background-position: -108px -27px;
}

.ogicon-menu-fleet:active {
    background-position: -108px -54px;
}

.ogicon-menu-galaxy {
    background-position: -135px 0px;
}

.ogicon-menu-galaxy:hover {
    background-position: -135px -27px;
}

.ogicon-menu-galaxy:active {
    background-position: -135px -54px;
}

.ogicon-menu-system {
    background-position: -162px 0px;
}

.ogicon-menu-system:hover {
    background-position: -162px -27px;
}

.ogicon-menu-system:active {
    background-position: -162px -54px;
}

.ogicon-menu-officer {
    background-position: -189px 0px;
}

.ogicon-menu-officer:hover {
    background-position: -189px -27px;
}

.ogicon-menu-officer:active {
    background-position: -189px -54px;
}

.ogicon-menu-research {
    background-position: -216px 0px;
}

.ogicon-menu-research:hover {
    background-position: -216px -27px;
}

.ogicon-menu-research:active {
    background-position: -216px -54px;
}

.ogicon-menu-defense {
    background-position: -243px 0px;
}

.ogicon-menu-defense:hover {
    background-position: -243px -27px;
}

.ogicon-menu-defense:active {
    background-position: -243px -54px;
}

.ogicon-menu-military {
    background-position: -243px 0px;
}

.ogicon-menu-military:hover {
    background-position: -243px -27px;
}

.ogicon-menu-military:active {
    background-position: -243px -54px;
}
