{#{ 
    'navbar' : { 
        'position': 'top'|'bottom', 
        'fixed': null|true|false,
        'inverse': true|false|null
        'title': string,
        'logo': asset_url
        'icon': string
        'iconclass': string
        'url': url|{'route': string, 'parameters': array} 
        'menu' : menu
        'options': array
    }
}#}

<nav class="navbar{% if navbar.inverse is defined and navbar.inverse %} navbar-inverse{% else %} navbar-default{% endif %}
    {% if navbar.position is defined %} navbar-{% spaceless %}{% if navbar.fixed is defined and navbar.fixed %}fixed-{% endif %}{{ navbar.position }}{% endspaceless %}
    {% endif %}" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-{{ navbar.position }}-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% if navbar.logo is defined or navbar.title is defined %}
        <a class="navbar-brand" href="{% spaceless %}
            {% if navbar.url is defined and navbar.url.route is defined %}
                {% if navbar.url.parameters is defined %}
                    {{ path(navbar.url.route, navbar.url.parameters) }}
                {% else %}
                    {{ path(navbar.url.route) }}
                {% endif %}
            {% elseif navbar.url is defined %}
                {{ navbar.url }}
            {% else %}#{% endif %}{% endspaceless %}">
            {% if navbar.logo is defined %}<img class="navbar-logo" src="{{ asset(navbar.logo)}}">{% endif %}
            {% if navbar.icon is defined and navbar.iconclass is defined %}<span class="{{ navbar.iconclass }} {{ navbar.iconclass }}-{{ navbar.icon }}"></span>{% endif %}
            {% if navbar.title is defined %}&nbsp;{{ navbar.title|trans|capitalize }}{% endif %}
            {% if navbar.version is defined %}&nbsp;<small>v{{ navbar.version }}</small>{% endif %}
        </a>
        {% endif %}
    </div>
    
    <div class="collapse navbar-collapse navbar-{{ navbar.position }}-collapse">
        {% if navbar.menu is defined %}
            {% if navbar.options is defined %}
                {{ knp_menu_render(navbar.menu,navbar.options) }}
            {% else %}
                {{ knp_menu_render(navbar.menu) }}
            {% endif %}
        {% endif %}
    </div>
</nav>