{#{ 
    'sidebar' : { 
        'position': 'top'|'bottom', 
        'fixed': null|true|false,
        'inverse': true|false|null
        'title': string,
        'logo': asset_url
        'icon': string
        'iconclass': string
        'url': url|{'route': string, 'parameters': array} 
        'menu' : menu
        'options': array
    }
}#}
<button class="visible-xs sidebar-toggle btn btn-default btn-xs"><span></span></button>
<nav class="sidebar navbar{% if sidebar.inverse is defined and sidebar.inverse %} navbar-inverse{% else %} navbar-default{% endif %}
    {% if sidebar.position is defined %} navbar-{% spaceless %}{% if sidebar.fixed is defined and sidebar.fixed %}fixed-{% endif %}{{ sidebar.position }}{% endspaceless %}
    {% endif %}" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        
        {% if sidebar.logo is defined or sidebar.title is defined %}
        <a class="navbar-brand" href="{% spaceless %}
            {% if sidebar.url is defined and sidebar.url.route is defined %}
                {% if sidebar.url.parameters is defined %}
                    {{ path(sidebar.url.route, sidebar.url.parameters) }}
                {% else %}
                    {{ path(sidebar.url.route) }}
                {% endif %}
            {% elseif sidebar.url is defined %}
                {{ sidebar.url }}
            {% else %}#{% endif %}{% endspaceless %}">
            {% if sidebar.logo is defined %}<img class="navbar-logo" src="{{ asset(sidebar.logo)}}">{% endif %}
            {% if sidebar.icon is defined and sidebar.iconclass is defined %}<span class="{{ sidebar.iconclass }} {{ sidebar.iconclass }}-{{ sidebar.icon }}"></span>{% endif %}
            {% if sidebar.title is defined %}&nbsp;{{ sidebar.title|trans|capitalize }}{% endif %}
        </a>
        {% endif %}
    </div>
    
    <div class="sidebar-menu">
        {% if sidebar.menu is defined %}
            {% if sidebar.options is defined %}
                {{ knp_menu_render(sidebar.menu,sidebar.options) }}
            {% else %}
                {{ knp_menu_render(sidebar.menu) }}
            {% endif %}
        {% endif %}
    </div>
</nav>