{% extends "MaesboxOGInspectorBundle:Layout:left-sidebar-layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'empire'|trans|capitalize }}{% endblock %}

{% block leftsidebar %}
    {% include 
        'MaesboxOGInspectorBundle:Menu:_sidebar.html.twig' with {
            'sidebar': { 
                'position':'left', 
                'fixed': true, 
                'inverse':false,
                'title': 'profile', 
                'menu': 'oginspector_player_sidebar', 
                'url': { 'route': 'maesbox_oginspector_profile' },
                'icon': 'wrench',
                'iconclass': 'fa',
                'options': { 
                    'template': 'MaesboxOGInspectorBundle:Menu:_menu.html.twig', 
                    'currentClass': 'active', 
                    'ancestorClass': 'active' 
                } 
            } 
        } %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#planetes" aria-controls="home" role="tab" data-toggle="tab">{{ 'planets'|trans|capitalize }}</a></li>
                    <li role="presentation"><a href="#lunes" aria-controls="profile" role="tab" data-toggle="tab">{{ 'moons'|trans|capitalize }}</a></li>
                </ul>

                <hr>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="planetes">
{#                        {% include 'MaesboxOGInspectorBundle:Player:_planetesEmpire.html.twig' with { 'player': player } %}#}
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="lunes">
{#                        {% include 'MaesboxOGInspectorBundle:Player:_lunesEmpire.html.twig' with { 'player': player } %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}