{% extends "MaesboxOGInspectorBundle:Layout:left-sidebar-layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'profile'|trans|capitalize }}{% endblock %}



{% block leftsidebar %}
    {% include 
        'MaesboxOGInspectorBundle:Menu:_sidebar.html.twig' with {
            'sidebar': { 
                'position':'left', 
                'fixed': true, 
                'inverse':false,
                'title': 'profile', 
                'menu': 'oginspector_player_sidebar', 
                'url': { 'route': 'maesbox_oginspector_profile' },
                'icon': 'wrench',
                'iconclass': 'fa',
                'options': { 
                    'template': 'MaesboxOGInspectorBundle:Menu:_menu.html.twig', 
                    'currentClass': 'active', 
                    'ancestorClass': 'active' 
                } 
            } 
        } %}
{% endblock %}

{% block header %}
    {#<div class="jumbotron">
        
    </div>#}
{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            {% include 
                'MaesboxOGInspectorBundle:Elements:_ressources.html.twig' with {
                    'ressources': {
                        'metal': {
                            "value": 5,
                            "max": 50,
                            "production": 10
                        },
                        'cristal': {
                            "value": 5,
                            "max": 50,
                            "production": 10
                        },
                        'deuterium': {
                            "value": 5,
                            "max": 50,
                            "production": 10
                        }
                    }
                } 
            %}
            
            {% include 
                'MaesboxOGInspectorBundle:Elements:_score.html.twig' with {
                    'scores': {
                        'general': {
                            "value": 5,
                            "max": 50,
                            "production": 10
                        },
                        'cristal': {
                            "value": 5,
                            "max": 50,
                            "production": 10
                        },
                        'deuterium': {
                            "value": 5,
                            "max": 50,
                            "production": 10
                        }
                    }
                } 
            %}
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-8">
            <div class="col-sm-12 col-md-12 col-lg-6">
            {% include 
                'MaesboxOGInspectorBundle:Elements:_chart.html.twig'  with { 
                    'attributes': {
                        "class": 'ogi-chart pie-chart',
                        'data': 'http://la-boite-a-mae.fr.nf/oginspector/charts/player/3983/points-repartition' 
                    },
                    'chart_type': '', 
                    'chart_title': 'Répartition des points', 
                } 
            %}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
            {% include 
                'MaesboxOGInspectorBundle:Elements:_chart.html.twig'  with { 
                    'attributes': {
                        "class": 'ogi-chart pie-chart',
                        'data': 'http://la-boite-a-mae.fr.nf/oginspector/charts/player/3983/points-repartition/planete' 
                    },
                    'chart_type': '', 
                    'chart_title': 'Répartition des points', 
                } 
            %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts
        '@MaesboxOGInspectorBundle/Resources/public/js/highstock.js'
        '@MaesboxOGInspectorBundle/Resources/public/js/ogi-charts.js'
        output="js/charts.js" %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
